<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper d-flex align-items-stretch">
  <!-- {{>NavLat}} -->
  <app-nav-lat></app-nav-lat>
  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
     <!-- {{>Message}} -->
      <div class="limiter">
          <div class="container-table100">
              <div class="wrap-table100">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Username</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let User of ListarUsuarios">
                            <th>{{User.id}}</th>
                            <td>{{User.name}}</td>
                            <td>{{User.username}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="buscarUsuario(User)" >Editar</button>
                            </td>
                            <td>
                                <button (click)="eliminarUsuario(User.id+'')"  routerLink="/VerUser" type="button" class="btn btn-danger" >Eliminar</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>

              </div>
          </div>
      </div>
  </div>
</div>




<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
