
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper d-flex align-items-stretch">
   <app-nav-lat></app-nav-lat>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">

        <!-- <link rel="stylesheet" type="text/css" href="../../CSS/registro.css" /> -->

            <h2 class="mb-4 center ">Registro</h2>

        <div class="wrapper">

            <form class="login" >
                <p class="title">Persona</p>
                <input [(ngModel)]="usuario.id"  name='id' type="text"  placeholder="id" required/>
                <i class="fa fa-user"></i>
                <input [(ngModel)]="usuario.name" type="text" name="name" placeholder="name" required/>
                <i class="fa fa-user"></i>
                <input [(ngModel)]="usuario.username" type="text" name="username" placeholder="username" required/>
                 <!-- <input type="file" name="Foto" placeholder="Foto" />
                <i class="fa fa-photo"></i> -->
                <button class="state" (click)="EditarUsuario()">Editar Usuario</button>
            </form>



        </div>

    </div>
</div>

<!-- {{>script}} -->
