

<!-- {{>Message}} -->
<div id="contenedor">

  <div id="central">
      <div id="login">
          <div class="titulo">
              Bienvenido
          </div>
          <form #frmLogin="ngForm" >
            <input [(ngModel)]="usuario.username"  name='username' type="text"  placeholder="username" required/>
            <i class="fa fa-user"></i>
            <input [(ngModel)]="usuario.password" type="password" name="password" placeholder="password" required/>
            <i class="fa fa-user"></i>
            <button class="state" (click)="onLogin()">Ingresar</button>
          </form>
          <div class="pie-form">
              <a href="#">¿Perdiste tu contraseña?</a>
          </div>
      </div>
  </div>
</div>
