<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrapper d-flex align-items-stretch">
  <!-- {{>NavLat}} -->
  <app-nav-lat></app-nav-lat>
  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <!-- {{>Message}} -->
    <div class="limiter">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Total</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let factura of ListarFactura">
            <th>{{factura.id}}</th>
            <td>{{factura.cedula}}</td>
            <td>{{factura.nombre}}</td>
            <td>{{factura.total}}</td>
            <td>
              <button (click)="eliminarFactura(factura.id+'')" type="button" class="btn btn-danger"
                routerLink="">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
