<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper d-flex align-items-stretch">
  <app-nav-lat></app-nav-lat>
  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <!-- <link rel="stylesheet" type="text/css" href="../../CSS/registro.css" /> -->
    <h1 class="mb-4 center"><b>Registro de Producto</b></h1>
    <div class="wrapper">
      <form class="login" action="/links/Admin/PrincipalRegistro" method="POST">
        <h1 class="title"><span class="fa fa-shopping-basket mr-3"></span>Producto</h1>
        <input [(ngModel)]="producto.nombre" type="text" name="nombre" placeholder="Nombre" autofocus required />
        <i class="fa fa-user"></i>
        <input [(ngModel)]="producto.descripcion" type="text" name="descripcion" placeholder="Descripcion" required />
        <i class="fa fa-user"></i>
        <input [(ngModel)]="producto.precio" type="number" name="precio" [min]="1"  placeholder="Precio" required />
        <i class="fa fa-user"></i>
        <input [(ngModel)]="producto.cantidad" type="number" name="cantidad" value="1" [min]="1" placeholder="Cantidad" required />
        <i class="fa fa-user"></i>
        <input [(ngModel)]="producto.categoria" type="text" name="categoria" placeholder="Categoria" required />
        <i class="fa fa-user"></i>
        <!-- <input type="file" name="Foto" placeholder="Foto" />
                <i class="fa fa-photo"></i> -->
        <button (click)="agregarProducto()">
          <i class="spinner"></i>
          <button class="state">Registrar Producto</button>
        </button>
      </form>
    </div>
  </div>
</div>
<!-- {{>script}} -->
