<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrapper d-flex align-items-stretch">
   <app-nav-lat></app-nav-lat>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <!-- <link rel="stylesheet" type="text/css" href="../../CSS/registro.css" /> -->
        <div class="wrapper">
          <div class="flex">
            <h1 class="center text-center"><b>¡Bienvenido! a tienda BBB</b></h1>
            <img class="m-12"  width="100%" src="./assets/Images/tiendaNeon.jpg">
          </div>
        </div>
    </div>
</div>
<!-- {{>script}} -->
